<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="Main">
	<h2>Profile</h2>
	<p>Here you can update your personal account's information.</p>
	<div class="container shadow border ps-3 pe-3 pt-3 mb-5">
		<f:form action="proxy" name="user" class="px-3" object="{user}">

			<div class="form-row">
				<f:for each="{settings.fields.selected}" as="selectedField">
					<f:alias map="{options: '{settings.fields.configuration.{selectedField}}'}">
						<f:render partial="Preview/{options.partial}"
							arguments="{user: user, fieldName: selectedField, options: options}" />
					</f:alias>
				</f:for>
			</div>
		</f:form>
	</div>
</f:section>

</html>